
body {
    background-color: #d1d7df;
    color: white;
    font-family: "Martian Mono", monospace;
    margin: 0px;
    /* забираємо стандартні відступи в тега body */
}

header {
    background: #dab4b4;
    width:100%
}

header.fixed {
    position: fixed;
    /* Фіксоване позиціонування */
    top: 0;
    /* Закріплено зверху */
    width: 100%;
    /* Ширина за всю ширину вікна */
    background: #272727;
    max-width: 100%;
    z-index: 100;
}
